
bin/
obj/
out/
build/
publish/
.env

# User secrets

appsettings.Production.json


# Visual Studio
.vs/
*.user
*.suo

# Visual Studio for Mac
.vscode/

# Logs
logs/
*.log

# Node.js dependencies
node_modules/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# JetBrains Rider
.idea/

# Temporary ASP.NET Files
~$*
